@import '~antd/dist/antd.css';

html {
  font-size: 1rem;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #ffffff;
  --background-gray: #f5f5f5;
  --hightlight: #e31b6d;
  --dark: #1B242F;
  --light-cyan: #04c2c9;
  --gray-dark: #444649;
  --primary: #616161;
  --gray: #eeeeee;
  --dark-cyan: #00a1a7;
}
